body{
    margin:0px;
}
.container{
    height:400px;
    width:400px;
    background-color:pink;
    position :relative;

}
.red{
    height:100px;
    width:100px;
    background-color: red;
position:absolute;
right:100px;   

}

.blue{
    height:100px;
    width:100px;
    background-color: blue;
  position:absolute;
top: 0px;
 
    
}
.yellow{
    height:100px;
    width:100px;
    background-color: yellow;
    position:fixed;
   top: 0px;
   left:100px
    
}