body{
  margin:0 px;
}
.blue{
    height:100px;
    width: 100px;
   background-color: blue;

      
  }
  .yellow{
    height:100px;
    width: 100px;
  position: relative;
  left: 100px;
  bottom:100px;
    background-color:yellow;
      
  }
  .Red{
    height:100px;
    width: 100px;
    position: relative;
    left: 210px;
    bottom:200px;
    right:15 px;

   
     background-color: Red;
  
  }